
<section class="ui raised segment">
<table class="ui table">
  <thead>
    <tr>
      <th>Weight</th>
      <th>Thigh</th>
      <th>Upper Arm</th>
      <th>Chest</th>
      <th>Waist</th>
      <th>Hips</th>
    </tr>
  </thead>
  <tbody>
    {{#each assessments}}
      <tr>
        <td>
          {{weight}}
        </td>
        <td>
          {{thigh}}
        </td>
        <td>
          {{upperarm}}
        </td>
        <td>
          {{chest}}
        </td>
        <td>
          {{waist}}
        </td>
        <td>
          {{hips}}
        </td>
        <td>
          <a href="/dashboard/deleteassessment/{{id}}" class="ui icon button">
          <i class="icon trash"></i>
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
</section>





<!--
{{#each assessments}}
  <section class="ui stacked segment">
    <h2 class="ui header">
      {{title}}
    </h2>
    <p> Assessment Date{{date}} </p>
    
    <p>
      Weight: {{weight}}
    </p>
    </a>
    <a href="/dashboard/deleteassessment/{{id}}" class="ui icon button">
      <i class="icon trash"></i>
    </a>
  </section>
{{/each}}
-->